body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
  background-image: url("images/blackjack-table.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  color: #fff;
  font-style: italic;
}

button {
  color: rgb(20, 119, 106);
  width: 150 px;
  background: goldenrod;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px 80px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
}

button:hover {
  transform: scale(1.03);
}
